extend ../../layout/app.pug

block content
    .section
        h1 Event Viewer
        .section
            h2 Recent Logs 
                ul
                    li(v-for="(log, index) in logs" :key="index")
                        p.
                            {{ index }} / {{ log.type }} / {{ log.tag }}
                            {{ log.body }}
        button(@click.prevent="sendMessage") Send message


block scripts
    script(defer, src=Helper.mix("chunks/socket.io-client.js")) 
    script(defer, src=Helper.mix("scripts/pages/home/index.js")) 
